*{
	padding:0;
	margin:0;
	background-color: #003B49;
	color:white;
}

body{
	overflow-x:hidden;
}

#sidebar{
	display: inline-block;
	color: #0f0;
}

#navbar{
	height: 100vh;
}

#landingpage{
	height:100vh;
	width:100vw;
}


#aboutusteaser{
	color:white;
}

.Heading{
	text-align:center;
}

.buttons{
	border: 2px solid #0f0;
	border-radius: 20px;
	font-size:1.5em;
	padding: 10px;
	margin-top: 20px;
	margin-right: 20px;
}

.color1{
	color:white !important; 
}

.mobilemenu{
	margin-right:10px;
}

.option{
	background-color:#003B49;
	padding: 4px;
	padding-left: 10px;
	border-radius: 20px 0px 0px 20px;
}

#mobilenavbar{
	backgroundColor:"white";
	position:fixed;
	top:0;
	right:0;
	height:100vh;
	width:100vw;
	display:flex;
	justify-content: center;
	align-items: center;
}

#kryptonite{
	height:300px;
	width: 450px;
}